<% include ../partials/header %>
<div class="jumbotron bg-gray  "  >
        <div class="container">
    <center><h1><%=fullname%></h1></center>
     
    <h3> <ul>
     <% hobbies.forEach(function(hobby){ %>
     <li><%= hobby %></li>
     
     <% }); %>
     </ul></h3>
    <h3><%=Birthday%></h3>
    
    
    <% include ../partials/footer %>