<% include ../partials/header %>
<div class="jumbotron bg-gray text-white "  >
        <div class="container">
    <h1><%=fullname%></h1>
     
    <h1> <ul>
     <% hobbies.forEach(function(hobby){ %>
     <li><%= hobby %></li>
     
     <% }); %>
     </ul></h1>
    <h1><%=Birthday%></h1>
    
    
    <% include ../partials/footer %>