<% include ../partials/header %>
<div class="container">


         <center> <p class="lead">
              <a class="btn btn-primary btn-lg" href="/about" role="button">Jumbo action name</a>
          </p></center>
      </div>
<% include ../partials/footer %>