<% include ../partials/header %>

<div class="jumbotron">
 <center><h1>TOP 10 USER BY TOTAL SALE</h1></center><br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Total Sale</th>
        </tr>
    </thead>
    <tbody id="myTable">
     <% users.forEach(function(user){ %>
        <tr>
            <td scope="row"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.total_sale %>฿</td>
        </tr>
      <% }); %>
    </tbody>
</table>
</div>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>




  <% include ../partials/footer %>